@{
    ViewBag.Title = "WELCOME TO ONLINE AFFILIATION APPLICATION SUBMISSION FOR AY 2017-18 (A-117)";
}

<h2>INSTRUCTIONS FOR FILLING THE APPEAL FORM FOR THE ACADEMIC YEAR 2018-19</h2>
<br />
<div class="col1" style="width: 99%; line-height: 28px;border-radius: 15px">   
  
    <h3>The following instructions have to be strictly followed:</h3>
    <ol style="margin-left: 20px;">
        @*<li>In case the proposed intake is edited by the College during appeal such that the proposed intake is less than  or equal to maximum of admitted intake of previous three years then the required faculty and Ph. D will be reflected in the appeal screen  and final affiliation according to edited proposed intake.</li>*@
        <li>The college can reduce the proposed intake during appeal to comply with the deficiency if any ,in any particular course.If the reduced intake is less than or equal to maximum admitted intake of the previous three years,then the required faculty and Ph.D qualified faculty will be calculated accordingly and will be reflected in the  appeal screen and also in the final affiliation process.</li>
        <li>During appeal other than reverification faculty the College can have the chance of recruiting a maximum of <b>Two per Department</b> (including all specializations in that Department) to comply with the faculty deficiency.</li>
        <li>In case a faculty member is inactive due to Aadhar flag the College need to upload a clear scanned copy of original Aadhar of the respective faculty member to comply with the deficiency.</li>
        
        <li style="text-align: center; list-style-type: none">*****</li>
    </ol>
   
</div>







<br />
<div style="text-align: right; font-weight: bold;">
    @Html.ActionLink("Proceed to College Information", "Create", "CollegeInformation", null, new { @class = "create_button" })
</div>
