@{
    ViewBag.Title = "WELCOME TO ONLINE AFFILIATION APPLICATION SUBMISSION FOR AY 2016-17 (A-116)";
}

<h2>Instructions for filling the A-116 form for the Academic Year 2016-17</h2>
<br />

<div class="col1" style="width: 99%; line-height: 28px;">
    Educational Societies and Managements of Technical Institutions desirous of seeking Affiliation of JNTUH, Hyderabad for the Academic year 2016-17
    under the categories of New/Existing Engineering/ Pharmacy/ Integrated Campus/ Technical Campus/ Standalone MBA/ MCA Institutions in the State of Telangana 
    and coming under ambit of JNTU Hyderabad are hereby informed that the submission of online applications (format A-116) is available. 
    <br />
    
    <ol style="margin-left: 20px;">
        <li>The static data submitted by the institutions in the previous year is populated for the current academic year and edit option is provided for only those columns which are dynamic and/or dependant on the academic year.</li>
        <li>In case of any changes in the static data submitted by the institutions, the request for edit option may be made to the University along with the column number and justification.</li>
        <li>The last date for online submission of application form is 20th March, 2016.</li>
        <li>In the Existing/ Proposed Intake (Item No: 09) mention the “Course Status” (New/ Increase/ Decrease/ No Change/ Closure).</li>
        <li>The Application fee & Inspection fee for Academic Year 2016-17 will be collected through Online PAYMENT mode only. Demand Drafts are not entertained (Note: Online Payment will take two working days to get update in the portal).</li>
        <li>Registration of the Adjunct Faculty (as per AICTE Norms) and uploading Adjunct Faculty details in A-116 at the UAAC web portal are mandatory. If not registered, those Adjunct Faculty will not be considered during the College Inspection.</li>
        <li>For Autonomous Colleges, under Laboratory details if any additional equipment are available, the college can enter those details as well in the extra rows provided for each lab.</li>
        <li>.pdf documents of AICTE Part-A and Part-B along with all the enclosures have to be uploaded in the College Enclosures soft copy page (Item No: 35). Part-A and Part-B forms should be in full shape. If upon later verification, found that it is empty or missing, application is treated invalid.</li>
        <li>The photograph of equipment pertaining to each experiment in a lab has to be uploaded as per the prescribed file size and file format (Min. 50kb to Max. 300kb in .jpg/.png).</li>
        <li>The List of titles (.pdf documents) available in the Library has to be uploaded in the Library Books page (Item No: 16).</li>
        <li>The MAC addresses of the Computers available in the college have to be given in a “single excel sheet” room-wise (as per the excel format provided). </li>
        <li>A-116 form and its enclosures have to be submitted through ONLINE mode only. No Hard copies will be entertained.</li>
    </ol>
</div>
<br />
<div style="text-align: right; font-weight: bold;">
    @Html.ActionLink("Proceed to College Information", "Create", "CollegeInformation", null, new { @class = "create_button" })
</div>
