@{
    string path = string.Empty;
    string Href = string.Empty;
    string Slase = "";
    string StaticText = string.Empty;
    string StaticHref = string.Empty;

}


@*<div class="menu_title">
        <div class="DashboardLinks" style="background-color:#fff7ea;">
            <div class="DivLinksHeaders" style="background-color:#71468A;">
                <b>College Menu</b>
            </div>
        </div>
    </div>*@
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            setNavigation();
        });

        function setNavigation() {
            StaticText = window.location.pathname;
            path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);
            Slase = path.indexOf("/");
            Slase = Slase != null ? "1" : "";
            $(".DivLinks li a").each(function () {
                Href = $(this).attr('href');
                StaticHref = $(this).attr('href');

                if (Slase == "1") {
                    path = path != null ? path.split('/')[2] : "";
                    Slase = "0";
                }
                else {
                    path = path;
                }

                Href = Href != null ? Href.split('/')[2] : "";

                if (path === Href) {
                    if (StaticText === "/Faculty/ViewTeaching" && StaticHref === "/Faculty/Teaching") {
                        $(this).closest('li').addClass('active');
                    }
                    else if (StaticText === "/Faculty/ViewNonTeaching" && StaticHref === "/Faculty/NonTeaching") {
                        $(this).closest('li').addClass('active');
                    }
                    else if (StaticText === "/Faculty/ViewTechnical" && StaticHref === "/Faculty/Technical") {
                        $(this).closest('li').addClass('active');
                    }
                    else if (StaticText === "/Labs/View" && StaticHref === "/Labs") {
                        $(this).closest('li').addClass('active');
                    }
                    else if (StaticText === "/Labs/ViewPhysicalLabsDetails" && StaticHref === "/Labs/ViewPhysicalLabs") {
                        $(this).closest('li').addClass('active');
                    }
                    else if (path != "Faculty" && path != "Labs") {
                        $(this).closest('li').addClass('active');
                    }
                }


            });
        }

        //$('.menu_items p').css({ cursor: "pointer" })
        //    .on('click', function () {
        //        var txt = $(this).text() == "College Menu" ? "CLOSE" : "College Menu";
        //        $(this).text(txt);
        //        $(this).next('div').toggle();
        //    });
    });
</script>

@*<span class="error" style="font-size: 0.8rem;">You will be able to upload college data after 2 hours. The data you have entered has been saved. Thank you</span>*@
@*<img src="/Content/images/latest.gif" alt="latest" /></li>*@
<style>
    .left_menu li {
        padding-left: 0px;
        background: none;
    }
    /*.menu_items ul li:hover{
        background-color:#F2552C;
    }
    .menu_items ul li a:link {
        color:white;
        font-weight:bold;
    }*/

    /*.menu_items ul li {
        background-color:#1E98A7;border-radius:15px;padding-left: 10px;color:white;
    }
    .menu_items ul li a {
        color:white;
        font-weight:bold;
    }

    .menu_items ul li:hover {
        color:white;
        font-weight:bold;
        background-color:tomato;
    }
     .menu_items ul li a:active {
        color:white;
        font-weight:bold;
        background-color:tomato;
    }*/

    .DivLinks ul li {
        background-color:;
        /*border-radius:15px;*/
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-left: 10px;
        color: white;
    }

        .DivLinks ul li span {
            color: black;
            /*font-weight:bold;*/
        }

        .DivLinks ul li a {
            color: black;
            /*font-weight:bold;*/
        }

        .DivLinks ul li:hover {
            color: white;
            font-weight: bold;
            background-color: #0e4e8e;
            /*position:absolute;*/
            /*left: 0px;*/
            /*transition: 0.3s;*/
            /*padding: 3px;
            width: 250px;
            text-decoration:inherit;
            text-align:center;
            height:15px;
            padding-bottom:5px;*/
        }
        /*.DivLinks ul li a:active {
                color:white;
                font-weight:bold;
                background-color:tomato;
            }*/
        .DivLinks ul li a:hover {
            color: white;
        }

    .DashboardLinks {
        text-align: center;
        background-color: white;
        border: solid 1px #e6e6e6;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        color: white;
    }

    .DivLinksHeaders {
        text-align: center;
    }

    .DivLinks li.active {
        background-color: #de1c85;
    }

        .DivLinks li.active a {
            color: #fff;
            font-weight: bold;
        }

    .special_listaud li {
        list-style-type: none;
        padding-left: 20px;
        background: url('../Content/images/hand-point.png') no-repeat 0px 1px;
    }

    .handClass {
        padding-left: 15px;
        line-height: 24px;
    }
</style>
<div class="menu_items" style="min-height: 838px;">
    <div class="DivLinks slider" style="font-size:11px; padding: 4px 8px 2px 8px;">
        <ul class="special_listaud">
            @*<li><img src="~/Content/images/bullet_orange.gif" class="hand" style="width: 6px;"><span>&nbsp;</span><a href="/AcademicAuditCell/MandateOfTheCell">Mandate of the Cell</a></li>*@
            <br />
            <li><a href="/AcademicAuditCell/MandateOfTheCell" class="handClass">Mandate of the Cell</a></li>
            <li><a href="/AcademicAuditCell/Director" class="handClass">Director</a></li>
            <li><a href="/Home/DirectorsList" class="handClass">Succession List of Directors</a></li>
            <li><a href="/AcademicAuditCell/DeputyDirector" class="handClass">Deputy Director</a></li>
            <li><a href="/AcademicAuditCell/AssistantDirector" class="handClass">Assistant Director</a></li>
            <li><a href="/AcademicAuditCell/StaffMembers" class="handClass">Staff Members</a></li>
            <li><a href="/AcademicAuditCell/VisionMission" class="handClass">Vision Mission</a></li>
            <li><a href="/AcademicAuditCell/Objectivies" class="handClass">Objectivies</a></li>
            <li><a href="/AcademicAuditCell/Goals" class="handClass">Goals</a></li>
            <li><a href="/AcademicAuditCell/TimelinesOfAffiliationActivities" class="handClass">Timelines of Affiliation Activities</a></li>
            <li><a href="/AcademicAuditCell/ProcedureforGrantofAffiliation" class="handClass">Procedure for Grant of Affiliation</a></li>
            <li><a href="/AcademicAuditCell/Newsletters" class="handClass">News letters</a></li>
            <li><a href="/AcademicAuditCell/AffCollegesStatus" class="handClass">Status of Affiliated Colleges</a></li>
        </ul>
    </div>

</div>