<div class="header" style="text-align:center;">
    <div class="header_logo">
        <img src="@Url.Content("~/Content/images/jntuhlogo.png")" alt="JNTU Hyderabad Logo" height="90px" />
    </div>
        <div class="header_titles">
            <span class="" style="color:#de1c85;font-size:19px;">Jawaharlal Nehru Technological University Hyderabad</span><br />
            <span class="" style="font-size:18px;color:#0e4e8e;">Directorate of Affiliations & Academic Audit </span><br />
            <span class="" style="font-size:14px;">Kukatpally, Hyderabad – 500 085, Telangana, India</span>
        </div>
    <div class="header_right">
        <img src="@Url.Content("~/Content/images/NAAC.png")" alt="JNTU Hyderabad Logo" height="90px" />
    </div>


    @*<div class="header_logo">
        <img src="@Url.Content("~/Content/images/jntuhlogo.png")" alt="JNTU Hyderabad Logo" height="90px" />

    </div>
    <div class="header_titles" style="margin-top:15px;font-weight:bold;line-height:1.2;text-align:center;">
        <span class="title_jntu">Jawaharlal Nehru Technological University Hyderabad</span>
        <span class="title_aac">Directorate of Affiliations & Academic Audit </span>
        <span class="title_address">Kukatpally, Hyderabad – 500 085, Telangana, India</span>
    </div>
    <div class="header_logo1">
        <img src="@Url.Content("~/Content/images/NAAC.png")" alt="JNTU Hyderabad Logo" height="90px" />&nbsp;
    </div>*@
    <div class="clear"></div>

</div>
