@{
    ViewBag.Title = "newscmdashboard";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/controller.js"></script>
<h2>newscmdashboard</h2>
<html>
<div ng-app>
    {{10+10}}
</div>
<body ng-app="myModule">
    <div ng-controller="scmdashboard">
        {{scmdata}}
        {{datascm.Frequestsubmitcollegecount}}
    </div>
</body>
</html>