@{
    ViewBag.Title = "Disclaimer";
}

<h2>Disclaimer</h2>
This website has been launched to provide the candidates and public-at-large, information about the AAC. If you do not agree to the terms and conditions below, do not access this site or any pages thereof