@{
    ViewBag.Title = "RefundandCancellationPolicy";
}

<h2>Refund and Cancellation Policy</h2>
<span>
    It is specifically made clear that JNTUH-AAC offers its services to you only
    if you are agreeable to all terms of this refund and cancellation policy in
    its entirety along with the terms and conditions of use.
    In any event, our refund/cancellation policy, stated in the following
    paragraphs, will apply.<br /><br />

    The service offered on this website, once availed, cannot be cancelled
    under any circumstances.<br /><br />
    The exam fees being collected through this website is non-refundable.
    Any payment processing fee or other such charges levied by the payment
    gateway provider or by the use of credit/debit card is non-refundable.
</span>