@{
    ViewBag.Title = "Applicationmirrors";
}


<div class="login_box">
    <h2>Applicationmirrors</h2>
    <br />
    <table style="width:400px">
        <tr>
            <td>
                <div class="section_red">
                    <a href="http://112.133.193.228:75/Account/LogOn" target="_blank" style="color: white;">
                        <span class="sub" style="font-size: 14px; line-height: 22px; color: black;">Mirror one for payment Login only</span>
                        <img src="/Content/images/latest.gif" alt="latest" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="section_green">
                    <a href="http://112.133.193.228:78/Account/LogOn" target="_blank" style="color: white;">
                        <span class="sub" style="font-size: 14px; line-height: 22px; color: black;">Mirror Two</span>
                        <img src="/Content/images/latest.gif" alt="latest" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="section_pink">
                    <a href="http://112.133.193.228:89/Account/LogOn" target="_blank" style="color: white;">
                        <span class="sub" style="font-size: 14px; line-height: 22px; color: black;">Mirror Three</span>
                        <img src="/Content/images/latest.gif" alt="latest" />
                    </a>
                </div>
            </td>
        </tr>

    </table>
</div>