@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    if (Roles.IsUserInRole("Admin") || Roles.IsUserInRole("DataEntry"))
    {
        Layout = "~/Views/Shared/_DataEntryLayoutLeftMenu.cshtml";
    }
}
@*<h2>Coming Soon</h2>*@
<div style="text-align: center">
    <img src="~/Content/images/under_construction.jpg" />
</div>
