@{
    ViewBag.Title = "FaildTransaction";
}

<h2>FaildTransaction</h2>
<table class="full_table" style="width: 100%; font-size: 0.7rem;">
    <tr>
        <td class="create_link_right" style="text-align:center;">
            <html>
            <body>
                <form method="post" action="https://www.billdesk.com/pgidsk/PGIQueryController?">
                    @*<input name="msg" type="hidden" value=@ViewBag.msg>*@
                    <input type="submit" value="Pay" id="pay" class="create_button not-active">
                </form>
            </body>
        </html>
    </td>
</tr>
</table>