@{
    ViewBag.Title = "WELCOME TO Faculty Verification AY 2020-21 (A-420)";
}

<h2>Guidelines for Verification of Faculty Profiles for the Academic year 2020-21</h2>
<br />
<style type="text/css">
    .tableborder td {
        text-align: left;
        border: 1px solid green;
    }

    .tableborder {
        /*width: 100%;*/
        text-align: center;
        border-collapse: collapse;
    }

    b {
        color: red;
    }
</style>
<div class="col1" style="width: 99%; line-height: 28px; border-radius: 15px; background-color: bisque">
    <h3>Faculty profiles registered with Faculty portal of JNTUH are to be thoroughly verified in a uniform pattern as per the norms of the various statutory bodies (AICTE / PCI) accordingly.  As a part of the annual affiliation process for the academic year 2019-20, the faculty verification process involves the following steps:</h3>
    <table style="margin-left: 20px; background-color: bisque">
        <tr>

            <td>
                <ul><li>UAAC provides each Verification officer with a <b style="color: red">Username</b> and <b style="color: red">Password</b> credentials and list of Colleges wherein the Faculty members have to be verified. The Verification officer has to login with the above provided credentials at www.jntuhaac.in and proceed to the next level dashboard screen.</li></ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul><li>In the dashboard screen, on top, the Verification officer has to select the <b>“Faculty Verification”</b> tab to proceed to the next screen. The College allotted to the Verification officer has to be selected from the drop –down box against the item “College”.</li></ul>
            </td>
        </tr>
        <tr>
            <td><ul><li>The next screen that appears will have all the faculty members and their profiles for verification coloured as <b>RED</b> or <b>NO COLOR</b>. <b>RED</b> indicates, these faculty members were <b>NOT APPROVED</b> and marked with a flag in the previous academic year verification process and his / her details have to be thoroughly verified again so as to <b>APPROVED</b> or <b>NOT APPROVED</b> for this academic year.</li></ul></td>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>The verification process basically consists of verifying the following items by clicking on the <b>VIEW</b> button available against each faculty member:</li>
                    <ul>
                        <li>a)Verifying the personal details – FACULTY NAME, PHOTO, DATE OF BIRTH against the PAN CARD & AADHAAR CARD DETAILS,</li>
                        <li>b) Verifying the Educational qualification details from the Certificates uploaded by the faculty members so as to decide his/her eligibility for the <b>IDENTIFIED FOR</b> stream (UG/PG) and <b>DEPARTMENT</b>.</li>
                    </ul>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul><li>The next screen appears with all the details pertaining to a Faculty member and Verification officer has to verify all the details and accordingly choose either of the buttons provided at the top-right-hand corner i.e., <b>APPROVED</b> or <b>NOT APPROVED</b>.</li></ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul><li>If all the details are clear and found to be correct, then the faculty member can be marked as <b>APPROVED</b>, else has to be marked <b>NOT APPROVED</b> as given in the screen and by referring the table below:</li></ul>
                <table class="tableborder" style="background-color: pink">
                    <tr>
                        <td style="text-align: center"><b>S.No.</b></td>
                        <td style="width: 18%"><b>FLAGS under NOT APPROVED Status</b></td>
                        <td style="width: 25%"><b>POSSIBLE REASONS</b></td>
                        <td><b>EXAMPLES IF ANY / REMARKS</b></td>
                    </tr>
                    <tr>
                        <td style="text-align: center" rowspan="2">1</td>
                        <td rowspan="2">Not Qualified as per AICTE norms</td>
                        <td>1) Awarded Second Class in UG and PG levels.</td>
                        <td>
                            1) For Engg. branches, if the faculty member is awarded with Second class in UG and PG levels, he/she is not eligible. Further, a faculty member with first class either in UG or PG levels is eligible.<br />
                            2) For Sciences, eg., M.Sc., MA can be Second class irrespective of UG being first or second class, the faculty are eligible.<br />
                            3) For Management, MBA awarded should be first class irrespective of the UG being first or second class.<br/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2) Faculty identified for department is not relevant to the UG and PG streams.
                        </td>
                        <td>
                            1) Eg: B.Tech.(ECE) & M.Tech.(Power Systems) but identified for ECE or EEE department is not eligible. However, the faculty with the mentioned UG & PG qualifications are eligible for OTHERS(ECE/EEE) not for the core ECE/EEE.<br />
                            2) For the Faculty position in Management, any Master’s degree other than MBA is not eligible.<br />
                            3) Further faculty who are:<br/>
                            (a) MCA / M.Sc. in Mathematics / Physics / Electronics / Computer Science and allied subjects (b) M. Sc. (Electronic Science) and M. E. (ET & T)<br/>
                            (c) M. Sc. (IT) as basic degrees before publication of the AICTE Gazette dated 13th March, 2010 and completed the degree later are eligible. However, they should have obtained higher qualification like M. Tech. subsequently as per requirement of the post.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">2</td>
                        <td>No Relevant UG</td>
                        <td>1) Faculty identified for department is not possessing relevant UG degree.</td>
                        <td>
                            1) Faculty member in any branch of Engg. other than CSE/IT/CSIT branches of Engg. the faculty must possess B.Tech./B.E. in the respective core branch of Engg. with M.Tech./M.E. and Ph.D. in any specialization of that core Branch or Engg.<br />
                            Eg: B.Tech.(EIE) & M.Tech.(ECE) but identified for ECE department, is not eligible for teaching B.Tech.(ECE).<br />
                            2) However, he/she is eligible for teaching B.Tech.(CSE) if he/she is existing incumbents (presently during FFC inspections of A.Y.2016-17/A.Y.2017-18/A.Y.2018-19)  recruited as faculty with B.Tech./B.E. in any branch of Engg. and have secured admission to M.E. or M.Tech. or Ph.D. in Computer Science/Information Technology on or before 13-03-2010 and subsequently acquired the degree are eligible, subject to fulfillment of other eligibility criteria and higher qualifications prescribted, if any for various teaching posts.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">3</td>
                        <td>No Relevant PG</td>
                        <td>1) Faculty identified for department is not possessing relevant PG degree.</td>
                        <td>1) Eg: B.Tech.(ECE) & M.Tech.(VLSI Design) but identified for M.Tech.(Embedded Systems) is not eligible, instead he/she is eligible to teach M.Tech.(SSP).</td>
                    </tr>
                    <tr>
                        <td style="text-align: center">4</td>
                        <td>No Relevant Ph.D.</td>
                        <td>1) Faculty identified for department is not possessing relevant Ph.D. degree.</td>
                        <td>1) Eg: B.Tech.(EEE), M.Tech.(Power Systems) and Ph.D. in ECE but identified for M.Tech.(VLSI Design) instead he/she is eligible to teach M.Tech.(Power Systems).</td>
                    </tr>
                    <tr>
                        <td style="text-align: center" rowspan="3">5</td>
                        <td rowspan="3">InComplete/ Blur Ceritificates</td>
                        <td>1) Blur Certificates</td>
                        <td>1) Blur and completely unreadable certificates</td>
                    </tr>
                    <tr>
                        <td>2) Missing SSC and/or UG and/or PG certificate</td>
                        <td>2) Not uploaded SSC and/or UG and/or PG certificate in faculty portal</td>
                    </tr>
                    <tr>
                        <td>
                            3) CMM / Marks Memoranda / any other relevant document are uploaded for UG and/or PG certificate.
                        </td>
                        <td>
                            3) Any document other than Provisional Certificate or Original Degree for UG and/or PG is not acceptable
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">6</td>
                        <td>Xeroxcopyofcertificates</td>
                        <td>
                            1) Photocopies of SSC/UG/PG/Ph.D. are uploaded.
                        </td>
                        <td>
                            1) Scanned copies of Original degree / PC are the only documents permitted for SSC/UG/PG/Ph.D.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center">7</td>
                        <td>PAN Mismatch</td>
                        <td>
                            1) If the PAN number entered is not matching with the PAN number on the PANCARD document.
                        </td>
                        <td>
                            1) PAN number entered has to be same as that of the PAN number on the PANCARD document.
                        </td>
                    </tr>
                </table>
                If any of the above mentioned reasons are possessed by the faculty member then the corresponding flag has be selected and later click on the <b>SAVE</b> button. The status of the faculty member will become <b>NOT APPROVED</b> and colour of the entire record will be shown in <b>GREEN</b> colour once the page is refreshed.
            </td>
        </tr>
        <tr>
            <td>
                <ul><li>In this manner, the verification of all the faculty members belonging to a particular College has to be completed.</li></ul>
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                *****
            </td>
        </tr>
    </table>
</div>
<br />
<div style="text-align: right; font-weight: bold;">
    @Html.ActionLink("Faculty Verification", "Facultyverificationfouretwozero", "FacultyVerificationDENew", null, new { @class = "create_button" })
</div>
