Dear @ViewBag.Username,
<br />
<br />
Your JNTUH Account password has been reset successfully.<br />
@*You can now <a href="http://localhost:49712/Account/ResetPasswordLogin?rstu=@ViewBag.EncryptUsername&rstp=@ViewBag.EncryptPassword" target="_blank">click here</a> to create a new password.<br />*@
You can now login to <a href="http://www.jntuhaac.in" target="_blank">www.jntuhaac.in</a> with the following credentials.<br />
Username: @ViewBag.Username<br />
Password: @ViewBag.Password
<br />
<br />
Thanks & Regards<br />
Director, AAC,<br />
JNTUH, Hyderabad