Dear @ViewBag.Username,
<br />
<br />
Your JNTUH Account password has been changed successfully.<br />
You can now login to <a href="http://www.jntuhaac.in" target="_blank">www.jntuhaac.in</a> with the new password.<br />
Username: @ViewBag.Username<br />
Password: @ViewBag.Password
<br />
<br />
Thanks & Regards<br />
Director, AAC,<br />
JNTUH, Hyderabad