Sir/Madam,
<br />
<br />
<p>Proforma Not Submitted Letter is attached here. Please find the attachment along with Proforma.</p>
<br />
<br />
With Regards,
<br />
<b><strong>REGISTRAR, JNTUH</strong></b>
