Dear @ViewBag.Username,
<br />
<br />
<p>Edit option for your college has been enabled. Now you can able to add/ edit/ delete your college data <b>from <u>@ViewBag.Start</u> to <u>@ViewBag.End</u></b></p>
<p>Login to <a href="http://www.jntuhaac.in" target="_blank">www.jntuhaac.in</a></p>
<br />
<br />
Thanks & Regards<br />
Director, AAC,<br />
JNTUH, Hyderabad
