@model IList<UAAAS.Models.HostelRequirements>
@using UAAAS.Models
@{
    ViewBag.Title = "Campus Hostel Maintenance";
    Layout = "~/Views/Shared/_UserLayoutLeftMenu.cshtml";
}
<h2>Campus Hostel Maintenance</h2>
@using (Html.BeginForm())
{
    if (ViewBag.Norecords == true)
    {
    <div class="warning" style="width: 200px; margin: 0 auto;">
        <p>No Data found</p>
    </div>
    }
    else
    {
    <table class="four_columns">
        @for (int i = 0; i < ViewBag.Count; i++)
        {
            <tr>
                <td class="col11" style="width: 800px">
                    @Html.LabelFor(m => m[i].requirementType, Model[i].requirementType == null ? string.Empty : Model[i].requirementType.ToString())
                    @Html.HiddenFor(m => m[i].id)
                </td>
                <td class="col21" style="width: 200px">
                    @if (Convert.ToBoolean(Model[i].isSelected) == true)
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <label>No</label>
                    }
                </td>
            </tr>
        }
    </table>    
    }
}
