@{
    ViewBag.Title = "Coordinator";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<style>
    .DivStlye {
        font-size: 0.8rem;
        font-weight: normal;
        line-height: 1.25rem;
        margin-left: 67px;
        margin-right: 67px;
    }

    .Design {
        text-align: center;
        color: red;
        width: auto;
    }

    .VCProfile, .DirectorProfile {
        background-color: #2384c6;
        width: 315px;
    }
</style>

<h2>Coordinator</h2>
<table width="100%" style="display:inline;">
    <tr>
        <td width="45%">
            <div id="coord1">
                <div>
                    <b>Contact :</b><br />
                    <hr style="width: 250px; float: left;" /><br />
                    <b>Mr.G Praveen Babu</b><br />
                    Associate Professor of CSE &<br />Coordinator Academic Audit Cell
                    <br />
                    Second Floor,Administrative Block, JNTUH, Kukatpally, Hyderabad - 500 085.<br />
                    <b>Phone:</b> 040 -3241 4600, <b>Email:</b> <a href="mailto:duaac@jntuh.ac.in">duaac@jntuh.ac.in</a>
                </div>
            </div>
        </td>
        <td width="10%"></td>
        <td width="45%">
            <div id="coord1">
                <div style="float: right; width: 125px; text-align: center; margin-left: 10px; margin-bottom: 50px;margin-right: -270px;">
                    <img src="../../Content/images/gpraveenbabu.jpg" style="max-width: 150px; text-align: center;border:1px solid #0A1A32;" /><br />
                    <div style="margin-right: -25px">
                        <b>Mr.G Praveen Babu</b><br />
                        <span style="font-size: 0.75rem;">
                            Associate Professor of CSE & Coordinator Academic Audit Cell
                        </span>
                    </div>

                </div>
            </div>
        </td>
    </tr>
</table>
