@{
    ViewBag.Title = "Goals";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}

<h2>Goals</h2>
<div class="goalscls" style="line-height:22px;">
    <br />
    <span class="highlight_text "><b>Monitor and regulate the affiliation process to ensure adequate quality of institutions in terms of: </b></span>
    <br />
    <br />
    <b>Infrastructure </b>
    <ul class="special_list">
        <li>Human (presence of University ratified Principal and at least 50% ratified Faculty; and competent staff and lab technicians, etc)</li>
        <li>Physical (land area, built up area, class rooms, laboratories, library, computers, generator, etc)</li>
    </ul>
    <br />
    <b>Academic parameters</b><br />
    No. of pass percentages in first year, second year and third year, no of pass percentages in outgoing students (obtaining PCs), no of student placements, no of faculty development programmes attended/conducted (Short term courses, faculty joining M.Tech., Ph.D.); no of faculty/student seminars conducted, no of papers published by faculty and students in journals and conferences, consultancy revenue generated per year, etc.
    The above parameter list is not exhaustive.
    <br />
    <br />
    The information cited above along with digital photographs of all the colleges will be collected by JNTUH faculty during Fact Finding Committee visits or during surprise visits authorized by competent authority. The data will be used to rank the colleges on a points basis. The photographs will be placed in the photo gallery of the concerned college. It is hoped that this will be an authentic ranking of the affiliated colleges under the JNTUH system as all the colleges will be visited by JNTUH faculty teams in person.
    <br />
    <br />
    <span class="highlight_text "><b>Ensure that the complaints/suggestions/opinions received from the stakeholders are taken into cognizance, such as:</b></span>
    <ul class="special_list">
        <li>Adequacy of human and infrastructural facilities</li>
        <li>Presence of university ratified principal and at least 50% ratified faculty and staff.</li>
        <li>Transparency in the student attendance process by displaying monthly attendance particulars ( in JNTUH prescribed format) on college notice boards along sent by email and hard copies duly signed by principal sent to DAAC. Similarly, Cumulative attendance displayed on college notice boards on percentage basis and soft & hard copies simultaneously being sent to DAAC..</li>
        <li>Ensure that Special fees chargeable for UG and PG students should not exceed Rs 5,500/- for first year and Rs. 2500/- from second year onwards as per Govt. G.O. and APSCHE.</li>
        <li>Also, ensure that no hidden fees such as Building fund and development fees is being collected from students.</li>
        <li>Ensure that colleges are ragging free institutions.</li>
        <li>Ensure that student scholarships are being given on time subject to govt. disbursal.</li>
        <li>Address Complaints received regarding harassment by managements/teachers/students.</li>
        <li>Address Complaints of poor quality teaching/lab instructions/ handling projects, etc.</li>
    </ul>
    <br />
    <b><i>A complaint / suggestion / opinion box is placed in this portal for the stakeholders to air their views freely, the names and addresses will be withheld to ensure confidentiality.</i></b>
    <br />
    @*<br />
    <b>THIS FEEDBACK FORM IS STRICTLY RESTRICTED FOR USE TO SUBMIT OPINIONS AND SUGGESTIONS REGARDING Affiliations & Academic Audit ONLY.ANY SUGGESTIONS, ADVICE, OPINIONS AND QUERIES CONCERNING THE RESULTS, EXAMS SHOULD BE E-MAILED TO THE RESPECTIVE DEPARTMENTS, ADDRESSING THE CONCERNED PERSON. KINDLY AVOID THE USAGE OF ANY SLANG, AND ABUSE OF WORDS IN THIS FEEDBACK.</b>
    <br />
    <br />
    <b>To plan for developmental programmes for the benefit of faculty and students of the affiliated college system by :</b>
    <ul class="special_list">
        <li>Sharing of best practices among the stakeholders.</li>
        <li>Developing teaching-learning materials for theory and lab courses and placing on JNTUH website with access to all.</li>
        <li>Conducting seminars and workshops on pedagogy to help new teachers in urban/rural areas.</li>
        <li>Conducting remedial courses in English for students in urban/rural areas.</li>
        <li>Conducting Faculty Development Programmes for in service teachers in urban/rural areas.</li>
        <li>Sharing of Expertise, Learning Materials, Journals, Books, etc</li>
        <li>Arranging seminars/lectures in urban/ rural colleges.</li>
        <li>Undertaking joint research programmes between JNTUH and affiliated colleges.</li>
        <li>Try and generate a corpus fund to grant Rs. 1 lakh to faculty members desirous of pursuing Ph.D.in JNTUH.</li>
        <li>Interaction with Industry for undertaking meaningful and practical projects.</li>
        <li>Formation of professional societies such as ISTE, IEEE, ISHRAE, etc.</li>
        <li>Holding design competitions, business plan competitions in urban/rural areas.</li>
        <li>Holding open houses showcasing UG and PG projects for idea generation.</li>
        <li>Formation of Hobby Clubs (Robotics club, etc) for hands on experiential learning.</li>
        <li>Channelize the youth energies into constructive activities such as Sports, NSS, Yoga, etc.</li>
    </ul>
    <br />*@
    <span class="highlight_text "><b>Ensure that Governing body meetings are held twice a year to make sure that the college is pursuing it's major goal of providing quality education (presence of JNTUH nominee is mandatory).</b></span>
</div>