@{
    ViewBag.Title = "Mandate Of The Cell";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="mandatecellcls" style="line-height:24px;">
        <h2>Mandate Of The Cell</h2>
        <br />
        This cell was carved out of the Directorate of Academic and Planning of JNTUH primarily to monitor and regulate all the activities of the affiliated colleges including affiliation process, conducting meetings, monitoring, curbing anti ragging activities in the colleges, attending to any complaints received against affiliated colleges and plan for developmental programmes and any other activity related to the affiliated colleges under JNTU Hyderabad.
        <br />
        <br />
        <b>Activities</b>
        <br />
        <div style="padding-left:20px;">
            <ol>
                <li>To review Academic Progress of the previous Academic Year and the Affiliation Procedure and Regulations.</li>
                <li>Issue of NOC Certificate for Introduction of New Courses / Increase in Intake / Reduction in Intake /Closure of Course(s) / Closure of Institution(s) etc.</li>
                <li>To bring awareness about the need of Principals/Faculty selection as per UGC, AICTE & JNTUH norms.</li>
                <li>Conducting Principals/Faculty Selections as per UGC, AICTE & JNTUH norms.</li>
                <li>To nominate Governing Body Members & Grievance Redressal Committee Members to the Affiliated Colleges.</li>
                <li>Grant of Affiliation to Affiliated colleges</li>
                <li>Confirmation of Epass Scholarships</li>
                <li>Permission to run Campus attached hostels in affiliated Colleges of JNTUH</li>
                <li>Attending and resolving to any complaints received against Affiliated Colleges</li>
                <li>To take necessary steps to prevent the menace of ragging in the institutions in general, and boys and girls hostels, in particular.</li>
            </ol>
        </div>
    </div>
</body>
</html>