@{
    ViewBag.Title = "News letters";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <h2>Newsletters</h2>
    <br />

    <table class="webGrid" style="width:100%;margin:auto">
        <thead class="col1">
            <tr>
                <th style="width: 50px; text-align: center;">
                    S.No
                </th>
                <th style="text-align: left;">
                    Title
                </th>
            </tr>
        </thead>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    1
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2023.pdf" target="_blank">2022-23</a>
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    2
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2022.pdf" target="_blank">2021-22</a>
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    3
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2021.pdf" target="_blank">2020-21</a>
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    4
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2020.pdf" target="_blank">2019-20</a>
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    5
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2019.pdf" target="_blank">2018-19</a>
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: center;">
                    6
                </td>
                <td style="text-align: left;text-decoration:underline;">
                    <a href="~/Content/Newsletters/UAAC_2018.pdf" target="_blank">2017-18</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
