@{
    ViewBag.Title = "Objectivies";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <h2>Objectives</h2>
    <br />
    <div style="padding-left:30px;line-height:33px;">
        <ol>
            <li>To enable, nurture and produce employable professional graduates from the JNTUH affiliated college system useful to Society.</li>
            <li>To promote a healthy teaching-learning culture wherein adequate quality of delivery mechanisms are ensured in the JNTUH affiliated college system.</li>
            <li>To channelize the energies of the youth in constructive activities by conducting regular/surprise inspections, meetings/Video Conferencing, monitoring to curb ragging.</li>
            <li>To see that the standard and quality of education is improved and to turn College / Institution into centers of academic excellence.</li>
            <li>To Monitor and regulate the affiliation process to ensure adequate quality of institution.</li>
            <li>To provide transparency in the faculty & student attendance process by displaying monthly attendance particulars.</li>
        </ol>
    </div>
</body>
</html>
