@{
    ViewBag.Title = "Procedure for Grant of Affiliation";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <h2>Procedure for Grant of Affiliation</h2>
    <br />
    <div style="float:left;">
        <table>
            @*<td style=" text-align:left; padding-left:20px;line-height:24px;">*@
            <tbody>
                <tr>
                    <td style="text-align:left; padding-left: 30px; line-height: 33px;vertical-align:top;">
                        <ol>
                            <li style="text-align:-webkit-top;">Issue of Notification for online application</li>
                            <li>Filling of online application</li>
                            <li>Schedule of Inspections to the Colleges</li>
                            <li>Conduct of Fact Finding Committee (FFC) visits to Colleges as per schedule notified</li>
                            <li>Evaluation of FFC Reports</li>
                            <li>Generation and communication of Deficiency Reports to respective Colleges</li>
                            <li>Appeal by Colleges</li>
                            <li>Generation and communication of final affiliation letters</li>
                        </ol>
                    </td>
                    @*<td>
                            <img src="~/Content/images/instrucations_blank.jpg" style="width:210px;" /><br />
                        </td>*@
                </tr>
            </tbody>
        </table>
    </div>
    <div style="float:right;">
        <img src="~/Content/images/instrucations_blank.jpg" style="width:355px;padding-right:130px;height:570px;" /><br />
    </div>
</body>
</html>