@{
    ViewBag.Title = "Staff Members";
    Layout = "~/Views/Shared/_AcademicAuditCellLayoutPage1.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <h2>Staff Members</h2>
    <br />

    <table class="webGrid" style="width:90%;margin:auto">
        <thead class="col1">
            <tr>
                <th colspan="2" style="width: 50px; text-align: left;">
                    Administrative Staff
                </th>
            </tr>
        </thead>
        <tbody class="col2">
            <tr>
                <td class="align_left" style=" width: 180px; text-align: left;">
                    Dr. Duggirala Srinivasa Rao
                </td>
                <td style="text-align: left;">
                    Senior Professor of ECE  & Director
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Dr. B. Ravindra Reddy
                </td>
                <td style="text-align: left;">
                    Professor of Mathematics  & Deputy Director
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Dr. Prattipati Prasanna
                </td>
                <td style="text-align: left;">
                    Associate Professor of Mechanical Engineering & Assistant Director
                </td>
            </tr>

        </tbody>
        <thead class="col1">
            <tr>
                <th colspan="2" style="width: 50px; text-align: left;">
                    Technical & Supporting Staff
                </th>
            </tr>
        </thead>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Sri  Chede Yadagiri
                </td>
                <td style="text-align: left;">
                    Academic Assistant
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Sri B. Pavan Kumar
                </td>
                <td style="text-align: left;">
                    Academic Assistant
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Sri T.Sreenivas
                </td>
                <td style="text-align: left;">
                    Data Processing Officer
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Smt. K.Padma
                </td>
                <td style="text-align: left;">
                    Data Processing Officer
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Smt. S. Suneetha
                </td>
                <td style="text-align: left;">
                    Data Processing Officer
                </td>
            </tr>

        </tbody>
        <tbody class="col2">
            <tr>
                <td style="width: 50px; text-align: left;">
                    Sri. M. S. Kranthi Kumar
                </td>
                <td style="text-align: left;">
                    Data Entry Operator
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>
