@{
    ViewBag.Title = "Vice-Chancellor";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Vice-Chancellor</h2>
<br />

<div style="text-align:center">
    <img src="~/Content/images/Katta_Narasimha_Reddy_vice_chancellor_jntuh.jpg" height="170px" width="170px" />
    <br />
    <b>Prof. Katta Narasimha Reddy</b><br />
    <span style="font-size: 0.75rem;">
        Ph.D., FAPAS, FWIF, FTAS<br />
        Vice-Chancellor@*<br /> Affiliations & Academic Audit & OSD to VC JNTUH*@
    </span>
</div>
<br />
<div style="text-align:justify">



    <span style="font-size:14px; text-align:justify;"><b>Prof. Katta Narasimha Reddy</b> earned his Doctorate from Osmania University (Hyderabad). He received training in Script writing and Film Direction from Film and Television Institute of India, Pune and Advanced training in Microprocessors and Digital Electronics from Indian Institute of Science (IISC) Bangalore.He is a life member of many professional bodies and Fellow of World Innovation foundation, Andhra Pradesh and Telangana Academies of Science.

Presently he is the elected President of Telangana Academy of Sciences, Hyderabad (India). He was the Vice President and Hon. Secretary of Andhra Pradesh academy of Sciences. He has authored over 105 scientific papers and three review articles in International journals and books on Technology and Higher Education. He has been actively involved in advancing the research activity at Osmania University and Mahatma Gandhi University. He was also coordinator of UGC-Special Assistance Program, and Department of Science and Technology (Govt. of India) Funding programs at Osmania University.

Prof. Reddy has been an active teacher and researcher in the fields of Condensed matter and Materials Science. He held Post-doctoral and visiting research Professor / Scientist positions at International Center for Theoretical Physics, Trieste (Italy), University of Rome II “Tor Vergata” (Italy), and “Elettronica dello Stato Solido” at Rome (Italy). He has published more than 105 research papers in peer reviewed international journals. 12 students got their doctoral degree under his supervision. His research publications have received numerous citations. Widely traveled all over the world, Dr. Reddy has presented papers, given invited / plenary lectures, chaired sessions in a number of National and International conferences (India, USA, Singapore, Malaysia, Australia, New Zealand, etc). He hosted several National and International conferences and seminars.  Prof. Reddy was the Associate Editor of Journal of Pure and Applied Physics (JPAP) and Review editor of Journal of Materials Chemistry and Physics. He is closely associated with Solid State Ionics Laboratory, Southern University, Baton Rouge, Louisiana, USA and Department of Electrical Engineering and Physics, Wilkes University, Pen State, United States of America. He has organized more than Five International Conferences and Ten National conferences.

Prof. Reddy has been associated as Chairman of several teams of peer committees constituted by National Assessment and Accreditation Council(NAAC), India's premier quality assurance agency for Higher Education. He has participated in several National level meetings on Bench-Marking of Higher Education Institutions. He participated actively in the activities of Association of Indian Universities (AIU).

Prior to the present assignment, he served as the Vice chancellor of Mahatma Gandhi University (Nalgonda) and Palamuru University (Mahabubnagar), in the state of Telangana. </span>
</div>
<br />

<div style="text-align:left">
    </b><br />
    <b>Contact :</b><br />
    <hr style="width: 250px; float: left;" /><br />
    <b>Prof. Katta Narasimha Reddy</b>,<br />
    Vice-Chancellor,
    <br />
    JNTU Hyderabad,<br />
    <b>Email:</b> <a href="mailto:vcjntu@jntuh.ac.in">vcjntu@jntuh.ac.in</a>
</div>
