@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Contact Us</h2>
<br />
<b>Directorate of Affiliations & Academic Audit <br />
Jawaharlal Nehru Technological University Hyderabad </b><br />
II Floor, Administrative Block, <br />
JNTUH, Kukatpally, Hyderabad - 500 085.<br /><br />
<b>Phone:</b> 040 -3241 4600 <br />
<b>Mobile:</b> 8008421860 <br />
<b>Email:</b> <a href="mailto:duaac@jntuh.ac.in">duaac@jntuh.ac.in</a>