@model UAAAS.Models.CollegeSports

<div class="details_table">

    <div class="display-label" style="width:100px">Sports Type</div>
    <div class="display-field" style="width:250px">
        @Html.DisplayFor(model => model.sportsType)
    </div>

    <div class="display-label" style="width:100px">Sports Facility</div>
    <div class="display-field" style="width:250px">
        @Html.DisplayFor(model => model.sportsFacility)
    </div>

</div>