@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<br /><br />
<div style="margin:auto;text-align:center;">
    <div style="display:inline-flex;">
        <div>
            <a href="/LetterGeneration/Letters" class="create_button" target="_blank">All Letters Information</a>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div style="display:inline-flex;">
            <a href="/LetterGeneration/PhDVerificationlettergenerate" class="create_button" target="_blank">Excel Upload</a>
        </div>
    </div>

</div>
