@{
    ViewBag.Title = "Terms & Conditions";
}

<h2>Terms & Conditions</h2>
<span>
1.	Liabilities if any on this count shall be the sole responsibility of the applicant is Society / Trust and shall be settled as per the rules and regulations as applicable.
2.	The Grant or Rejection of this affiliation application does not in any way absolve the Society / Institution from the final outcome of the Court cases pending in the High Court or any other court or any other action that may be initiated by the University or Government against the Management/Institution for the previous academic years.
3.	The mere submission of this Application does not guarantee an Affiliation. (Affiliation is purely based on satisfaction of norms and criteria as laid down by AICTE/PCI/University from time to time.)
4.	If any conditional affiliation is given to the Institution or College, then the University has absolute right to cancel the affiliation without prior notice if the Institution/ College does not comply with the conditions of affiliation within the time stipulated in the conditional affiliation order.
    </span>

