@{
    ViewBag.Title = "Aadhaar Enabled Biometric Syatem";
}

<h2>Aadhaar Enabled Biometric Syatem </h2>


<table cellspacing="50" cellpadding="100" style="align-items:center">
    <tr>
        <td>

            <div class="section_blue">
                @*<a href="http://112.133.193.228:75/Content/Upload//Downloads/Letter_for_Biometric_Colleges1.pdf" target="_blank" style="color: white;">*@
                <a href="/Content/Upload//Downloads/Letter_for_Biometric_Colleges1.pdf" target="_blank" style="color: white;">
                    <span class="sub" style="font-size: 24px; line-height: 22px; color: black; padding: 10px; letter-spacing: 2px; font-weight: bold;"> Colleges  </span>

                </a>
            </div>
        </td>
        <td>

            <div class="section_blue">
                <a href="/Content/Upload//Downloads/Letter_for_Biometric_Venders.pdf" target="_blank" style="color: white;">
                    <span class="sub" style="font-size: 24px; line-height: 22px; color: black; padding: 10px; letter-spacing: 2px; font-weight: bold;"> Vendors </span>

                </a>
            </div>
        </td>


    </tr>



</table>


